<html>
  <h1> <%= @player_1_name %> attacked <%= @player_2_name %></h1>

  <ul>
    <li>
      <p> <%= @player_1_name %> HP: 100 </p>
      <a href="/attack"><button>Attack <%= @player_2_name %></button></a>
    </li>

    <li>
      <p> <%= @player_2_name %> HP: 100 </p>
      <a href="/attack"><button>Attack <%= @player_1_name %></button></a>
    </li>
  </ul>


<html>
